body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 500px;
    margin: 60px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    text-align: center;
}

input, button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.result-box {
    font-size: 20px;
    font-weight: 600;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
}

.result-box.positive {
    background-color: #e0fce0;
    color: #2e7d32;
    border: 2px solid #006600;
}

.result-box.negative {
    background-color: #ffe6e6;
    color: #c62828;
    border: 2px solid #b30000;
}

.input-summary {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.input-summary h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.input-summary ul {
    list-style-type: none;
    padding: 0;
}

.input-summary li {
    margin-bottom: 6px;
    font-size: 16px;
}
